/* PC、スマホ共通スタイル */
body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  }
  
 p {
    font-size: 15px;
}
  
  /*================
   PC用のスタイル 
  =================*/
    /* 横幅設定 */
 body {
      max-width: 1080px;
      min-width: 960px;
      margin: 0 auto 0 auto;
}

/* アニメーション設定 */

#Afade > p {
  text-align: center;
  margin-top: -80px;
  animation-name: Afade;
  animation-duration: 1s;
  animation-iteration-count: 50;

}

@keyframes Afade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#Bfade > p {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  animation-name: Bfade;
  animation-duration: 30s;

}

@keyframes Bfade{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 7.5;
  }
  50%{
    opacity: 15;
  }
  75%{
    opacity: 22.5;
  }
  100%{
    opacity: 30;
  }
}


h2 {
  text-decoration: underline;
}

 /* ヘッダー */
 header {
    display: flex;
    justify-content: space-between;
  }

  /* ナビゲーションのレイアウト */
  #nav-pc {
    text-align: right;
    font-size: 20px;
    padding-top: 20px;
  }

  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
    
  }

  /* 自己紹介の編集 */

  #syoukai > p {
    background-color:aqua;
    border: solid 1px; 
    font-size: 20px;
  }



  /* 文字設定　募集サイト */

.imisinn {
  text-align: center;
  font-size: 30px;
}

.imisinn > p {
  text-align: right;
  font-size: 30px;
  padding-top: 30px;
}